*{
    margin: 0;
    padding: 0;    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 0%;
   background-color: gainsboro;
   max-width: 400px;
}
header{
    width: 1200px;
    height: 80px;
    background-color: gray;
    color: white;
    font-size: 24px;
    display: flex;    
}
aside{
    width: 400px;
    height: 300px;    
}
main{
    width: 1200px;
    height: 500px;
    margin: 0;
    display: flex;    
}
#centro{
    width: 800px;
    height: 600px;
    background-color:white;
    }
.caja{
    border: none;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 3px solid gainsboro;
}
.caja2{
    border: none;
    border-radius: 5px;
    height: 150px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 3px solid gainsboro;
    overflow-wrap: normal;
}
.boton{
    border: none;
    border-radius: 5px;
    height: 35px;
    background-color: rgb(8, 141, 218);
    color: white;
    border: 4px double white;
    cursor: pointer;
}
#table{
    color: white;
    width: 600px;
    border: 1px solid rgb(8, 141, 218);    
    }
th{
    border: none;
    background-color: rgb(8, 141, 218);
    padding:15px;
    font-size: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;    
}
.icono1{
    font-size: 24px;
    color: red;
}
.icono2{
    font-size: 24px;
    color: green;
}
td{
    color: rgb(13, 107, 189);
    border: 1px solid rgb(8, 141, 218); 
}
.accion{
    display: flex;
    justify-content: space-evenly;
    align-content: center;  
}
h2{
    color: rgb(13, 107, 189);
    text-align: left;
    font-size: 30px;
}
